@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .w-max-content {
    width: max-content;
  }
}

@font-face {
    font-family: "Gilroy-Light";
    src: url("assets/fonts/gilroy/Gilroy-Light.ttf");
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("assets/fonts/gilroy/Gilroy-Regular.ttf");
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("assets/fonts/gilroy/Gilroy-Medium.ttf");
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("assets/fonts/gilroy/Gilroy-Bold.ttf");
}

.my-swal-title {
    color: #282828 !important;;
    text-align: center !important;;
    font-size: 32px !important;;
    font-family: Gilroy-Bold !important;;
    line-height: 24px !important; 
}

.my-swal-container {
    color: #282828 !important;
    text-align: center !important;
    font-size: 14px !important; 
    font-family: Gilroy-Regular !important;
    line-height: 24px !important;
}

.my-swal-confirm-button {
    font-family: Gilroy-Bold !important;
    color: #282828 !important;
    background-color: #FDCF01 !important;
}

.my-swal-cancel-button {
    border-radius: 5px !important;
    background: #C1C1C1 !important; 
    color: #FFF !important;
    text-align: center !important;
    font-size: 14px !important;
    font-family: Gilroy-Bold !important;
    line-height: 24px !important; 
}

.my-swal-label {
    color: #282828 !important;
    font-size: 16px !important; 
    font-family: Gilroy-Regular !important;
    line-height: 24px !important;
}

.my-swal-placeholder {
    color: #282828 !important;
    font-size: 14px !important; 
    font-family: Gilroy-Light !important;
    line-height: 24px !important;
}